{% ckan_extends %}

{% block resource_list_inner %}
  {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
  {% for resource in resources %}
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit, is_activity_archive=is_activity_archive %}
    <p>評価：
      <img src="/images/rating_star.png" alt="rating star" width="16" height="16"/>
      <img src="/images/rating_star.png" alt="rating star" width="16" height="16"/>
      <img src="/images/rating_star.png" alt="rating star" width="16" height="16"/>
      <img src="/images/empty_rating_star.png" alt="empty rating star" width="16" height="16"/>
      <img src="/images/empty_rating_star.png" alt="empty rating star" width="16" height="16"/>
    </p>
  {% endfor %}
{% endblock %}
