{% if h.is_enabled_utilizations() %}

  {% extends "page.html" %}

  {% block styles %}
    {{ super() }}
    {% asset 'feedback/feedback-details-css' %}
  {% endblock %}

  {% block breadcrumb_content %}
    <li class="inactive"><a href="{{ h.url_for('utilization.search') }}">{{ _('Utilization') }}</a></li>
    <li class="active"><a href="{{ h.url_for('utilization.details', utilization_id=utilization_id) }}">{{ _('Details') }}</a></li>
  {% endblock %}

  {% block primary %}
    <article class="module" role="main">
      <div class="module-content">
        {% set row = utilization %}
        <div class="centered-content">
          {% if c.userobj.sysadmin %}
            <form name="admin_form" action="{{ url_for('utilization.approve', utilization_id=utilization_id ) }}" method="post">
              <a class="btn btn-primary right-aligned spaced-left" href="{{ h.url_for('utilization.edit', utilization_id=utilization_id) }}">{{ _('Edit') }}</a>
              {% if row.approval == false %}
                <button class="btn btn-primary right-aligned">{{ _('Approve') }}</button>
              {% endif %}
              <br>
            </form>
            <hr class="divider">
          {% endif %}
          <h1>{{ row.title }}</h1>
          <hr>
          <h4>{{ _('Dataset') }}</h4>
          <a href="{{ h.url_for('dataset.search') }}{{ row.package_name }}">{{ row.package_name }}</a>
          <hr>
          <h4>{{ _('Resource') }}</h4>
          <a href="{{ h.url_for('dataset.search') }}{{ row.package_name }}/resource/{{ row.resource_id }}">{{ row.resource_name }}</a>
          <hr>
          <h4>{{ _('Utilization description') }}</h4>
          <p>{{ row.description }}</p>
          <hr>
          <h4>{{ _('Issue resolutions') }}</h4>
          <!-- ToDo -->
          <img src="/images/issue_resolution_badge.png" alt="issue resolution badge" width="28" height="28">1
          {% if c.userobj.sysadmin %}
            <button class="btn btn-primary right-aligned">{{ _('Issue resolution') }}</button>
          {% endif %}
          <br>
          <hr>
          <h4>{{ _('Comments') }}</h4>
          <p>{{ comments|length }}</p>
          <hr>
          <form name="comment_form" action="{{ url_for('utilization.create_comment', utilization_id=utilization_id ) }}" method="post">
            <h4>{{ _('Comment') }}</h4>
            <select name="category" id="category">
              {% for category in categories %}
                <option value="{{ category.name }}">{{ _(category.value) }}</option>
              {% endfor %}
            </select>
            <br>
            <br>
            <textarea class="form-control" cols="20" rows="5" id="comment-content" name="content"></textarea>
            <div>
              <p id="content-error" class="alert alert-error" style="display: none;">{{ _('Please enter your comment') }}</p>
            </div>
            <br>
            <button class="btn btn-primary right-aligned" onclick="return checkCommentExists();">{{ _('Send comment') }}</button>
            <br>
            <br>
            <br>
          </form>
          {% if comments|length %}
            <hr class="divider">
          {% endif %}
          {% for comment in comments %}
            {% if c.userobj.sysadmin and comment.approval == false %}
              <form name="approval_form" action="{{ url_for('utilization.approve_comment', utilization_id=utilization_id, comment_id=comment.id) }}" method="post">
                <button class="btn btn-primary right-aligned">{{ _('Approve') }}</button>
              </form>
            {% endif %}
            <h4>
              {{ comment.created.strftime('%Y/%m/%d %H:%M') }}
              {% for category in categories %}
                {% if comment.category.name in category.name %}
                  {{ _(comment.category.value) }}
                {% endif %}
              {% endfor %}
            </h4>
            <br>
            <p class="comment-content {{'unapproved' if not comment.approval }}">{{ comment.content }}</p>
            <hr class="divider">
          {% endfor %}
        </div>
      </div>
    </article>
  {% endblock %}

  {% block secondary %}{% endblock %}

  {%- block scripts %}
    {{ super() }}
    {% asset 'feedback/feedback-detail-js' %}
  {% endblock -%}

{% endif %}