{% extends "page.html" %}

{%- block page -%}

  <!-- {% block skip %}
    <div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %} -->

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {% block styles %}
    {{ super() }}
    {% asset 'feedback/feedback-css' %}
  {% endblock %}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}<div class="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}

          {% block toolbar %}
            <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}
                      {{ super() }}
                      <li class="active"><a href="http://localhost:5000/utilization/search">{{ _('利活用方法') }}</a></li>
                    {% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}" style="height: 1000px">

            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            {% block pre_primary %}
            {% endblock %}

            {% block secondary %}
              
            {% endblock %}

            {% block primary %}
              {% if ((h.show_search_bar(self) == True) or (h.show_status_selection(self) == True and c.userobj.sysadmin)) %}
                {% if h.show_search_bar(self) == True %}  
                  {% block search_by_keyword %}
                    <form class="top-centered-content" method="get">
                      <br>
                      <p>キーワード検索</p>
                      <div class="input-group search-input-group">
                        <input id="field-giant-search" type="text" class="form-control input-lg" name="keyword" placeholder="{{ _('キーワード検索...') }}" aria-label="{{ _('Search utilizaton data') }}" autocomplete="off" value="{{ h.keep_keyword() }}"/>
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-lg" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                      <br>
                  {% endblock %}
                {% endif %}
                {% if h.show_status_selection(self) == True %}  
                  {% if c.userobj.sysadmin %}
                    {% block select_status %}
                      <span class="status-label"><p>ステータス</p></span>
                      <input type="checkbox" id="waiting" name="waiting" value="False">
                      <label for="waiting_for_approval" class="normal-font-weight middle-vertical-aligned">承認待ち</label>
                      <input class="spaced-left" type="checkbox" id="approval" name="approval" value="True">
                      <label for="approved" class="normal-font-weight middle-vertical-aligned">承認済</label>
                    </form>
                    {% endblock %}
                  {% endif %}
                {% endif %}
                <hr>
              {% endif %}
              {% if h.show_record_count(self) == True %} 
                <p class="bottom-centered-content">検索結果：{{ h.get_utilizations_count() }}件</p>
              {% endif %}
              {% if h.show_record_table(self) == True %} 
                {% block result_table %}
                <table class="table table-striped table-bordered table-condensed table-toggle-more bottom-centered-content">
                  <tr class="table-header">
                    <th class="big-column">タイトル</th>
                    <th class="big-column">データセット</th>
                    <th class="medium-column">データリソース</th>
                    <th class="small-column">登録日</th>
                    {% if c.userobj.sysadmin %}
                      <th class="small-column">ステータス</th>
                    {% endif %}
                  </tr>
                  {% if h.get_utilizations_count() %}
                    {% for row in h.get_utilizations() %}
                    <tr>
                      <td class="left-aligned-text"><a href="http://localhost:5000/dataset/{{ h.get_package_info(row.resource_id).name }}/resource/{{ row.resource_id }}">{{ row.title }}</a>
                        {% if h.show_record_table_badge(self) == True %}
                          <img src="/images/issue_resolution_badge.png" alt="issue resolution badge" width="28" height="28"/>
                        {% endif %}
                        {% if h.show_record_table_issue_resolution_count(self) == True %}
                          <!-- ToDo -->
                          <span class="spaced-left">10,000</span>
                        {% endif %}
                      </td>
                      <td>{{ h.get_package_info(row.resource_id).name }}</td>
                      <td>{{ h.get_resource_info(row.resource_id).name }}</td>
                      <td>{{ row.created.strftime('%Y/%m/%d') }}</td>
                      {% if c.userobj.sysadmin %}
                        {% if row.approval == True %}
                          <td>承認済</td>
                        {% else %}
                          <td>承認待ち</td>
                        {% endif %}
                      {% endif %}
                    </tr>
                    {% endfor %}
                  {% endif %}
                </table>
                {% endblock %}
              {% endif %}

              {#
              The primary_content block can be used to add content to the page.
              This is the main block that is likely to be used within a template.

              Example:

                {% block primary_content %}
                  <h1>My page content</h1>
                  <p>Some content for the page</p>
                {% endblock %}
              #}
              {% block primary_content %}
                  
              {% endblock %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  {% if g.tracking_enabled %}
    {% asset 'base/tracking' %}
  {% endif %}
  {{ super() }}
{% endblock -%}
