.big-button {
  width: 25%;
}

.centered-content {
  margin-left: 5%;
  margin-right: auto;
  width: 90%
}

.divider {
  background: #000000;
  height: 1px;
}

img {
  margin-left: 10px;
}

.medium-button {
  width: 20%;
}

.right-aligned {
  float: right;
}

.small-button {
  width: 15%;
}

.spaced-left {
  margin-left: 10px !important;
}
