.big-column {
  width: 25%;
}

.bottom-centered-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.centered-text {
  text-align: center;
}

hr {
  background: black;
  height: 1px;
}

img {
  margin-left: 10px;
}

label {
  margin-bottom: 4px;
}

label:after {
  content: "" !important;
}

.left-aligned-text {
  text-align: left;
}

.normal-font-weight {
  font-weight: normal;
}

.medium-column {
  width: 20%;
}

.page-title {
  margin-top: 5px;
  margin-left: 5px;
}

.search-button {
  background: rgb(3, 138, 248);
  border: none;
  border-radius: 8px;
  color: white;
  float: right;
  height: 30px;
  width: 60px;
}

.small-column {
  width: 15%;
}

.spaced-left {
  margin-left: 10px !important;
}

.status-label {
  font-weight: bold;
}

/*table, td, th {
  border: 1px solid black;
}*/

/*.table-header {
  background: #016E8F !important;
}*/

.top-centered-content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

td, th {
  text-align: center;
  vertical-align: middle !important;
}

.middle-vertical-aligned {
  vertical-align: middle;
}
