.bubble{
    position: relative;
    cursor: pointer;
    display:  inline-block;
}
.bubble img{
    width: 10px;
}
.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 9px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
 
.description:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}
.bubble:hover .description{
    display: inline-block;
    top: -75px;
    left: -50px;
}